@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
/** {border:1px solid red; }*/
h1 {
    color:black;
	text-decoration: none;
	font-family:"Josefin Sans";
}

button {
    display:inline-block;
    vertical-align: top;
    padding: 12px 28px;
    font-size: 16px;
    text-align: center;
}

#copyButton {
    max-height: 60px;
}

.text-areas-wrapper > .text-io {
    max-height: 750px;
    padding: 1em;
}

.text-areas-wrapper {
    display: flex;
    padding-bottom: 1em;
}

#input-area {
    height: 750px;
}

#output {
    white-space: pre-line;
    font-family: monospace;
    overflow-y: auto;
    padding-left: 5em;
    padding-right: 5em;
    min-width: 500px;
}